In [1]:
import pandas as pd
import numpy as np

In [7]:
data24 = pd.read_csv('kakuzi.csv')
data24

             Date   Open   High    Low   Close  Adj. Close  Change Volume
0     Jan 5, 2026  402.0  405.0  402.0  402.00      402.00       -     27
1     Jan 2, 2026  400.0  405.0  390.0  402.00      402.00       -     84
2    Dec 31, 2025  414.0  414.0  400.0  402.00      402.00   0.56%    117
3    Dec 30, 2025  390.0  414.5  386.0  399.75      399.75  -3.62%    378
4    Dec 29, 2025  415.0  415.0  415.0  414.75      414.75       -     27
..            ...    ...    ...    ...     ...         ...     ...    ...
399  Feb 24, 2021  370.0  370.0  370.0  370.00      288.86       -  1,100
400   Feb 9, 2021  370.0  370.0  370.0  370.00      288.86   1.37%    100
401   Feb 8, 2021  365.0  365.0  365.0  365.00      284.96  -1.35%    200
402   Feb 3, 2021  370.0  370.0  370.0  370.00      288.86   1.37%    100
403  Jan 25, 2021  365.0  365.0  365.0  365.00      284.96  -1.35%    100

[404 rows x 8 columns]